
.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 0;
}

.about span{
    color: royalblue;
}
.about-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-paragraph {
    text-align: left;
    line-height: 30px;
    width: 80%;

}
.about-body-two{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.my-services{
     display: grid;
     place-content: center;
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     gap: 20px;
     text-align: center;
    width: 90%;
}

.service{
    height: 300px;
    border: 0.2px solid rgb(115, 112, 112);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;

}
.service .web{
    background: teal;
    color: white;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.service p{
    width: 80%;
    text-align: center;
}
.client {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.client .client-list{
  display: grid;
  grid-template-columns: auto auto auto;
    
}
.client .client-list img{
    display: flex;
    width: 140px;
    height: 100px;
    margin: 10px;
    
}

/* ---------tab------------- */

@media screen and (max-width: 768px){

    
    .mmy-services{
       background: teal;
    }
    .client .client-list{
        display: grid;
        grid-template-columns: auto auto;
          
      }

    .about-paragraph{
        margin-top: -70px;
    }
    
    .client .client-list{
        display: grid;
        grid-template-columns: auto auto;
          
      }
      .about hr{
        width: 80%;
        height: 0.001em;
        margin: 10px; 
     }
  

}
