.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: transparent;
}
.animated-button {
    height: 3em;
    width: 12em;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
}
.hidden-layer {
    height: 100%;
    width: 25%;
    border-radius: 50px;
    position: absolute;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    height: 0.2em;
    background: white;
    transition: 0.5s ease;
}
.arrow {
    height: 0.4em;
    width: 0.4em;
    background: transparent;
    border-width: 0.2em;
    border-color: white white transparent transparent;
    border-style: solid;
    transform: rotate(45deg);
}
.layer {
    height: 100%;
    width: 25%;
    border-radius: 50px;
    background: teal;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    position: absolute;
    right: 7%;
    transition: 0.3s ease;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.animated-button:hover {
    animation: 2.5s scale linear infinite;
}
.animated-button:hover > .layer {
    width: 100%;
}
.animated-button:hover > .hidden-layer > .line {
    transform: translate(0.25em);
    width: 0.5em;
}
.animated-button:hover > .text {
    color: white;
}
@keyframes scale {
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.blog-box{
    display: flex;
}
.blog1{
    width: 270px;
    height: 200px;
    margin: 10px;
    border: 0.5px solid grey;
}
@media screen and (max-width: 480px){
    .blog hr{
        width: 80%;
        height: 0.001em;
        margin: 10px;
    }
    .blog-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: teal;
    }
    .blog-container .blog-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .blog1{
        width: 400px;
        height: 200px;
        background: white;
    }
}

/* --------tab screen---------- */

@media screen and (max-width: 600px){
    .blog-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: teal;
    }
    .blog-container .blog-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .blog1{
        width: 400px;
        height: 200px;
        background: white;
    }
}