
.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.contact h3 span{
    color: rgb(0, 115, 255);
    
}
.contact img{
    width: 540px;
    height: 200px;
}
.contact button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 115, 255);
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    width: 200px;
    height: 35px;
    background: white;

    border-radius: 5px;
    -moz-box-shadow: 1px -1px 8px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 1px -1px 8px 0px rgba(0,0,0,0.35);
    box-shadow: 1px -1px 8px 0px rgba(0,0,0,0.35);
}
.contact button:hover{
    text-decoration: underline;
}

.address-one, .address-two{
    display: flex;
     align-items: center;
     justify-content: left;
}

.address-one h5, .address-two h5{
    background: royalblue;
    color: white;
    padding: 3px 10px;
    border-radius: 2px;
    margin: 20px;
}
.address-one p, .address-two p, h5{
    color: rgb(93, 92, 92);
   
}


.contact input{
    width: 550px;
    height: 40px;
    border: 0.5px solid rgb(222, 218, 218);
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 5px;
    padding: 5px;
}
.contact-form button{
   margin: 30px 0px;
   width: 150px;
   height: 50px;
}


/* ---------tab screen-------- */

@media screen and (max-width: 600px){
    .contact{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contact img{
        width: 90%;
        height: 200px;
       margin-right: 10px;
    }
    .address-one, .address-two{
        display: flex;
         flex-wrap: wrap;
         margin: 10px;
    }
    .contact input{
        width: 470px;
        height: 40px;
        border: 0.5px solid rgb(222, 218, 218);
        margin: 5px;
        padding: 5px;
    }
    .contact-form{
      margin: 10px;
      padding: 5px;

    }
}


@media screen and (max-width: 480px){
    .contact{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contact img{
        width: 90%;
        height: 200px;
       margin-right: 10px;
    }
    .contact hr{
        width: 90%;
        height: 0.001em;
        margin: 10px;
        
     }
    .address-one, .address-two{
        display: flex;
         flex-wrap: wrap;
         margin: 10px;
    }
.contact-form{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 420px;
}
    .contact input{
        width: 100%;
        height: 40px;
        border: 0.5px solid rgb(222, 218, 218);
    }
}
