
.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.contact h3 span{
    color: rgb(30, 82, 145);
    
}
.contact iframe{
    width: 85%;
    height: 250px;
}


.address-one{
    display: flex;
     align-items: center;
     justify-content: left;
     flex-wrap: wrap;
     margin-bottom: 100px;
}

.address-one h5 strong{
    background: royalblue;
    color: white;
    padding: 3px 10px;
    border-radius: 2px;
    margin: 20px;
}

h5{
    color: rgb(93, 92, 92);
   
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.contact-form button{
   margin: 30px 0px;
   width: 150px;
   height: 50px;
}


/* ---------tab screen-------- */

@media screen and (max-width: 768px){
    
    .contact iframe{
        width: 90%;
        height: 300px;
    }
    
}
