.details-description{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;

}

.details-description .description{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.details-description .description .input{
    display: flex;
    align-items: center;
} 

.details-description .description .input input{
    display: block;
    width: 300px;
    height: 45px;
    border: 0.1px solid grey;
   
}
.details-description .description .input .search-icon{
    margin-left: -60px;
}

.description hr{
    height: 0.1px;
    width: 500px;
    color: rgb(220, 218, 218);
}

