.contact-form{
  width: 100%;
  height: auto;
  background: rgb(9, 172, 162);
}

.contact-form form{
  width: 90%;
   background: rgb(9, 172, 162);
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: #333;
  margin: 2px;
}

.contact-form form h1{
 font-size: 14px;
 text-align: center;
}
.contact-form form .input-box{
  width: 100%;
  margin-top: 5px;
}
.contact-form form .input-box .field{
  width: 90%;
  height: 25px;
  background: 2px solid rgb(42, 42, 42);
  background: #fff;
  outline: none;
  border-radius: 6px;
  padding: 5px;
  font-size: 15px;
  color: #333;
  margin-top: 5px;
}
.contact-form form .input-box .field.message{
  height: 70px;
  resize: none;
}
.contact-form form button{
  background: blue;
  border: inset;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  padding: 5px 10px;
  margin-top: 15px;
  margin-left: 25px;
}
.contact-form form button:Hover{
 background: rgb(4, 29, 104);
}