/* .toggle{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 550px;
    border-radius: 0px 15px 15px 0px;
    background: white;
    border-radius: 0px 8px 8px 0px;
    
} */