.work-container{
   width: 100%;
}

.work-done-box {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
   align-items: center;
   justify-content: center;
    
}

.work-done-box .work-done {
   border: 0.5px solid rgb(210, 207, 207);
   margin:10px;
   position: relative;
}
.work-done-box .work-done  img {
    width: 100%;
 }
 .work-done-box .work-done  img:hover{
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
    z-index: 999;
    filter: contrast(50%);
   box-shadow: 3px 3px 10px grey;
 }
 .work-done-box .work-done h3 {
   width: 100%;
   font-size: 12px;
   padding: 0 10px;
   text-align: center;
   color: rgb(41, 40, 40);
  
 }
 .work-done-box .work-done p {
    padding: 0px 10px;
    font-size: 12px;
    text-align: center;
  }

  .view-web{
   padding: 5px 10px;
   border-radius: 5px;
   color: white;
   background: teal;
   position: absolute;
   text-decoration: none;
   bottom: 3px;
   right: 3px;
 }

 .view-web:hover{
   background: rgb(3, 97, 97);
 }

 .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
 }
 .nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
 }
 .nav ul li{
    margin: 10px;
    padding: 2px 5px;
    cursor: pointer;
    color: rgb(67, 67, 67);
    font-size: 12px;
 }
 .nav ul li:hover{
    margin: 10px;
    color:white;
    border-radius: 5px;
    background: teal;
    font-size: 14px;
 }