
.home{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(9, 172, 162);
    /* background: var(--bg-c); */
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* Sidebar and Toggle Icon */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    background: teal;
    /* background: var(--bg-c); */
    transition: right 0.5s ease-in-out;
    z-index: 1000;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar.open {
    right: 0; /* Bring the sidebar into view */
  }
  
  .toggle-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
    color: white;
    background: rgb(9, 172, 162);
    border: inset;
  }
  /* Blinking arrow */
.arrow {
  position: fixed;
  top: 40px;
  right: 70px;
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
  animation: blink-animation 0.8s infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}
  
/* Toggle Button for Details Description */
.box1 {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1001;
  }

  .box2{
    width: 100%;
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.box2 div {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    border: 1px solid rgb(179, 177, 177);
    color: white;
}

.box2 div:hover{
    background: white;
    color: #333;
}

.box2 h3{
    font-size: 12px;
}

.box1:hover, .box2 div:hover{
    color: teal;
    cursor: pointer;
}

/* -------Two------- */

.two{
    width: 500px;
    height: 600px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    z-index: 999;
     box-shadow: 46px 3px 11px -43px rgba(0,0,0,0.05);
}


.three {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 670px;
    height: 550px;
    background: white;
    border-radius: 0px 8px 8px 0px;
    overflow:hidden auto;
    scrollbar-width: thin;
    scrollbar-color: gray white;
  }
  .three-container{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .three-container.active-tab {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .image-container {
    margin: 0 auto;
    text-align: center;
  }
  
  .image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

.profile-details {
  text-align: center;
  margin-top: 20px;
}

.profile-details h1 {
  font-size: 2rem;
  font-weight: bold;
}

.profile-details .titles h2 {
  font-size: 1.2rem;
  color: teal;
}
.social {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social .icon {
    font-size: 1.5rem;
    margin: 0 10px;
    color: #555;
    transition: color 0.3s;
  }

.social .icon:hover{
    color: teal;
}

.contact-me{
    cursor: pointer;
    margin-top: -40px;
    color: rgb(45, 41, 41);
}
.contact-me:hover{
    color: teal
}

/* ----------tab screen-------- */

@media screen and (max-width: 768px) {
    .home{
        width: 100%;
        height: 100%;
    }

    .container{
        display: flex;
        flex-direction: column;
    }
    .two{
        width: 100%;
        height: 450px;
        margin-top: 50px;  
        padding-bottom: 50px;
        background: rgb(9, 172, 162);
    }

    .arrow{
      border: solid #666;
  border-width: 0 5px 5px 0;
    }
      
    .box2{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 60px; /* Space at the top */
        text-align: center;
    }

    .contact-me, .profile-details .titles h2{
        color: white;
    }

    .three{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding-top: 10px;
        height: auto;
    }
   
}
