
.home{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(9, 172, 162);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}
.one{
    margin-right: 10px;
    
}
/* Sidebar and Toggle Icon */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    background: #333;
    transition: right 1.1s ease-in-out;
    z-index: 1000;
  }
  
  .sidebar.open {
    right: 0; /* Bring the sidebar into view */
  }
  
  .toggle-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
    color: white;
    background: rgb(9, 172, 162);
    border: inset;
    transition: transform 0.9s ease, opacity 0.5s ease;
  }
  .sidebar.open .toggle-icon{
    transform: rotate(180deg);
  }

  .toggle-icon.open{
    opacity: 0;
  }
  .toggle-icon.x {
    opacity: 1;
    transform: rotate(45deg);
  }

/* Toggle Button for Details Description */
.box1 {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1001;
  }

  .details {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  
.box2 {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 8px;
    width: 80px;
    height: 400px;
}

hr{
    height: 0.1px;
    width: 98%;
    color: rgb(206, 200, 200);
}
.box2 h3{
    font-size: 12px;
}
.box1:hover, .box2 div:hover{
    color: teal;
    cursor: pointer;
}

/* -------Two------- */

.two{
    width: 500px;
    height: 600px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    z-index: 999;
   
    -moz-box-shadow: 46px 3px 11px -43px rgba(0,0,0,0.05);
    -webkit-box-shadow: 46px 3px 11px -43px rgba(0,0,0,0.05);
    box-shadow: 46px 3px 11px -43px rgba(0,0,0,0.05);
}


.three {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 670px;
    height: 550px;
    background: white;
    border-radius: 0px 8px 8px 0px;
    overflow:hidden auto;
    scrollbar-width: thin;
    scrollbar-color: gray white;

  }
  .three-container{
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .three-container div {
    margin-bottom: 30px;
  }

  .image-container {
    margin: 0 auto;
    text-align: center;
  }
  
  .image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

.profile-details {
  text-align: center;
  margin-top: 20px;
}

.profile-details h1 {
  font-size: 2rem;
  font-weight: bold;
}

.profile-details .titles h2 {
  font-size: 1.2rem;
  color: teal;
}
.social {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social .icon {
    font-size: 1.5rem;
    margin: 0 10px;
    color: #555;
    transition: color 0.3s;
  }

.social .icon:hover{
    color: teal;
}

.contact-me{
    cursor: pointer;
    margin-top: -40px;
    color: rgb(45, 41, 41);
}
.contact-me:hover{
    color: teal
}

/* ----------tab screen-------- */

@media screen and (max-width: 768px) {
    .profile-details .titles h2 {
        font-size: 1.2rem;
        color: white;
      }
      
    .container{
        display: flex;
        flex-direction: column;
    }
    .two{
        width: 100%;
        height: 450px;
        margin-top: 50px;
        background: rgb(9, 172, 162);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        z-index: 999;
        padding: 30px 0px;
       
        -moz-box-shadow: 46px 3px 11px -43px rgba(0,0,0,0.05);
        -webkit-box-shadow: 46px 3px 11px -43px rgba(0,0,0,0.05);
        box-shadow: 46px 3px 11px -43px rgba(0,0,0,0.05);
    }

    .three{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }
    
    .box2{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 60px; /* Space at the top */
        text-align: center;
    }

    .box2 .icon {
        font-size: 2rem;
        margin-bottom: 10px;
        font-weight: 400;
        color: rgb(78, 78, 78); 
      }
      
      .box2 h3 {
        padding: 3px 5px;
        margin: 0px 10px;
        color: #333;
        font-size: 12px;
      }
  
    .profile-details hr{
        width: 80%;
        height: 0.001em;
        margin: 10px;
        
     }
   
}
