.booking-container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .booking-container h2 {
    text-align: center;
    color: #333;
  }
  
 .booking-container form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
 .booking-container form input[type="text"],
  .booking-container form[type="date"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .booking-container form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .booking-container form button:hover {
    background-color: #0056b3;
  }
  
 .booking-container div ul {
    list-style-type: none;
    padding: 0;
  }
  
  .booking-container div ul li {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .booking-container div ul li button {
    background-color: #dc3545;
  }
  
  .booking-container div ul li button:hover {
    background-color: #c82333;
  }