.image-slider {
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin: 50px;
}
.image-slides {
    display: flex;
    transition: transform 0.7s ease-in-out;
}
.image-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    min-width: 100%;
    height: 250px;
    box-sizing: border-box;
}
.image-slide img {
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
}